{% extends "layout.html" %}
{% block content %}

    <div class="edit-entry">
        <h2>Edit Entry</h2>
        <form method='POST' action='' class='form'>
            {{ form.hidden_tag() }}
            {% for field in form %}
                {% if field.name == 'date' %}
                    <label for="{{ field.name }}">{{ field.label.text }}</label>
                    <input type="date" id="start" name="date" value="{{ entry.date }}" min="1966-01-01" max="2021-12-31">
                {% elif field.name == 'title' %}
                    <label for="{{ field.name }}">{{ field.label.text }}</label>
                    {{ field(value=entry.title) }}
                {% elif field.name == 'time_spent' %}
                    <label for="{{ field.name }}">{{ field.label.text }}</label>
                    {{ field(value=entry.time_spent) }}
                {% elif field.name == 'learned' %}
                    <label for="{{ field.name }}">{{ field.label.text }}</label>
                    <textarea id="learned" rows="5" name="learned">{{ entry.learned }}</textarea>
                {% elif field.name == 'resources' %}
                    <label for="{{ field.name }}">{{ field.label.text }}</label>
                    <textarea id="resources" rows="5" name="resources">{{ entry.resources }}</textarea>
                {% endif %}
            {% endfor %}
            <input type="submit" value="Submit" class="button">
            <a href="{{ url_for('index') }}" class="button button-secondary">Abort</a>
        </form>
    </div>

{% endblock %}