{% extends "layout.html" %}
{% from 'macros.html' import render_field %}

{% block content %}
    <div class="new-entry">
        <h2>Journal</h2>
        <form method='POST' action='' class='form'>
            {{ form.hidden_tag() }}
            {% for field in form %}

                {% if field.name == 'date' %}
                    <label for="{{ field.name }}">{{ field.label.text }}</label>
                    <input type="date" id="start" name="date" value="1996-12-30" min="1996-12-30" max="2021-01-26">
                {% else %}
                    {{ render_field(field) }}
                {% endif %}

            {% endfor %}

            <input type="submit" value="Engage" class="button">
            <a href="{{ url_for('index') }}" class="button button-secondary">Abort</a>
        </form>
    </div>
{% endblock %}
